*.pyc
*.swp
*.lock
*.log
.idea/
.DS_Store
archery/settings.py.github
archery/settings.py.dev
archery/settings_dev.py
downloads/
sql/migrations/
hostmgr/migrations/
venv
env
media/
logs/
__pycache__/
sonar-project.properties
.scannerwork
.env
local_settings.py
